altered_midas==0.0.1
click==8.1.8
dict2xml==1.7.6
drjit==1.0.5
easydict==1.13
gradio==5.12.0
gradio_litmodel3d==0.0.1
huggingface_hub==0.29.1
imageio==2.37.0
ipywidgets==8.1.5
matplotlib==3.10.1
mitsuba==3.6.4
moderngl==5.12.0
open3d==0.19.0
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
pandas==2.2.3
pillow==10.4.0
plyfile==1.1
pymeshfix==0.17.0
pyvista==0.44.2
rembg==2.0.64
Requests==2.32.3
safetensors==0.5.3
scipy==1.15.2
setuptools==75.8.0
torchvision==0.19.0+cu124
tqdm==4.67.1
transformers==4.49.0
trimesh==4.6.4
xatlas==0.0.9
